# DSC 80: Lab 01

### Due Date: Tuesday April 07, Midnight (11:59 PM)

## Zoom Lab Hours
- Follow instructions on this link: https://docs.google.com/document/d/16qZpPSYhxwQDMcn-lGQjC-J-PzppLevv_mANLt2ko8g/edit

## Instructions
Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding work will be developed in an accompanying `lab01.py` file, that will be imported into the current notebook.

Labs and programming assignments will be graded in (at most) two ways:
1. The functions and classes in the accompanying python file will be tested (a la DSC 20),
2. The notebook will be graded (for graphs and free response questions).

**Do not change the function names in the `*.py` file**
- The functions in the `*.py` file are how your assignment is graded, and they are graded by their name. The dictionary at the end of the file (`GRADED FUNCTIONS`) contains the "grading list". The final function in the file allows your doctests to check that all the necessary functions exist.
- If you changed something you weren't supposed to, just use git to revert!

**Tips for working in the Notebook**:
- The notebooks serve to present you the questions and give you a place to present your results for later review.
- The notebook on *lab assignments* are not graded (only the `.py` file).
- Notebooks for PAs will serve as a final report for the assignment, and contain conclusions and answers to open ended questions that are graded.
- The notebook serves as a nice environment for 'pre-development' and experimentation before designing your function in your `.py` file.

**Tips for developing in the .py file**:
- Do not change the function names in the starter code; grading is done using these function names.
- Do not change the docstrings in the functions. These are there to tell you if your work is on the right track!
- You are encouraged to write your own additional functions to solve the lab! 
    - Developing in python usually consists of larger files, with many short functions.
    - You may write your other functions in an additional `.py` file that you import in `lab01.py` (much like we do in the notebook).
- Always document your code!

### Importing code from `lab**.py`

* We import our `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab**.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab**.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab**.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab**` merely import the existing compiled python.

In [532]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [533]:
import lab01 as lab

In [534]:
import os
import pandas as pd
import numpy as np

## Python Basics

---
**Question 0 (EXAMPLE):**

Write a function that takes in a possibly empty list of integers and:
* Returns `True` if there exist two adjacent list elements that are consecutive integers.
* Otherwise, returns `False`.

For example, because `9` is next to `8`:
```
>>> lab.consecutive_ints([5,3,6,4,9,8])
True
```
Whereas:
```
>>> lab.consecutive_ints([1,3,5,7,9])
False
```

*Note*: This question is done for you, to demonstrate a completed homework problem.

In [31]:
# Develop your code here (or in an IDE) if you'd like.
# Though only code in lab01.py will be graded!

In [32]:
# Add more cells if you'd like!

Test your code in two ways:
1. Run the cell below to test your code. You should also copy the cell and change the input to test further (i.e. write your own doctests)! Does it work for corner cases? Real-world data is **very messy** and you should expect your data processing code to break without thorough testing!
2. Run doctests on `lab01.py` by running the following command on the commandline:
```
python -m doctest lab01.py
```
If the doctests pass, then there should be *no* output.

In [33]:
# test your code!
lab.consecutive_ints([1,3,2,4])

True

In [34]:
lab.consecutive_ints([0])

False

In [35]:
lab.consecutive_ints([])

False

---
**Question 1 (median):**

Write a function called *median* that takes a non-empty list of numbers, returning the median element of the list. If the list has even length, it should return the mean of the two elements in the middle. Do not use any imported libraries for this question; you may use any built-in function.

In [36]:
def median(nums):
    #sort in ascending order
    nums.sort()
    
    if len(nums) % 2 == 0: #if list has even length
        elem1 = nums[(len(nums) // 2) - 1]
        elem2 = nums[len(nums) // 2]
        return (elem1 + elem2) / 2
    else: 
        return nums[len(nums) // 2]

In [37]:
lst = [1, 2, 3, 4, 5, 6]

median(lst)

3.5

In [38]:
# Try this
lab.median([0, -1, 1, 100])

0.5

---
**Question 2 (List Distances):**

Similar to Question 0, write a function that takes in a possibly empty list of integers and:
* Returns `True` if there exist two list elements $i$ places apart, whose distance as integers is also $i$.
* Otherwise, returns `False`.

Assume your inputs tend to satisfy the condition, and the pair(s) saitifying the condition tend to be close together; design your function to run faster for this case. (Optimizing your code for an assumed distribution of incoming data is very common in data science).

For example, because `3` and (the second) `5` are two places apart, and $|3-5| = 2$:
```
>>> lab.same_diff_ints([5,3,1,5,9,8])
True
```
Whereas:
```
>>> lab.same_diff_ints([1,3,5,7,9])
False
```

*Note*: Make sure to define some extreme test cases. Use the `%time` command to time your function!

In [119]:
def same_diff_ints(ints):
    if len(ints) == 0:
        return False
    for i in range(1, len(ints)): #represent num of places apart
        for j in range(len(ints)): #iterate through each element in list
            if j + i >= len(ints): #no more elems to look at for this iteration 
                break
            elif abs(ints[j] - ints[j + i]) == i: #equal places and distances
                return True
    return False

In [136]:
lst1 = [5,3,1,5,9,8]
lst2 = [0,5,5,100,2,6]
lst3 = [1,3,5,7,9]

In [137]:
%timeit same_diff_ints(lst1)

2.11 µs ± 189 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [138]:
%timeit same_diff_ints(lst2)

4.24 µs ± 363 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [139]:
same_diff_ints[lst3]

TypeError: 'function' object is not subscriptable

In [134]:
%time lab.same_diff_ints([5,3,1,5,9,8])

Wall time: 0 ns

True

---
## Strings and Files

The following questions will help you (re)learn the basics of working with strings and reading data from files (which are read in as strings, by default).

---
**Question 3 (Prefixes):**

Write a function `prefixes` that takes a string and returns a string of every consecutive prefix of the input string. For example, `prefixes('Data!')` should return `'DDaDatDataData!'`.  (See the doctests for more examples).

Recall that [strings may be sliced](https://docs.python.org/3/tutorial/introduction.html#strings), like lists.

In [153]:
def prefixes(s):
    output = ''
    for i in range(len(s) + 1):
        add = s[0:i]
        output += add
    return output

In [156]:
prefixes('aaron')

'aaaaaraaroaaron'

---
**Question 4 (Evens reversed):**

Write a function `evens_reversed` that takes in a non-negative integer $N$ and returns a string containing all even integers from $1$ to $N$ (inclusive) in reversed order, separated by spaces. Additionally, [zero pad](https://www.tutorialspoint.com/python/string_zfill.htm) each integer, so that each has the same length.

In [678]:
def evens_reversed(N):
    if N == 0 or N == 1: #nothing returned
        return ''

    output = ''
    num_pads = len(str(N)) #num of digits that will be length of each integer
    
    for i in range(N, 1, -1):
        if (i % 2) == 0:
            str_int = str(i)
            str_int = str_int.zfill(num_pads) #zeropad the integer
            output += str_int
            output += ' '
        
    output = output.strip() #remove whitespace
    return output

In [679]:
evens_reversed(10)

'10 08 06 04 02'

In [171]:
s = ' 01 02 03 '
s.strip()
s

' 01 02 03 '

---

[Recall](https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files) that the built-in function `open` takes in a file path and returns *a file object* (sometimes called a *file handle*). Below are a few properties of file objects:

* `open(path)` opens the file at location `path` for reading.
* `open(path)` is an *iterable*, which contains successive lines of the file.
* Once a file object is opened, after use it should be closed to avoid memory leaks. To ensure a file is closed once done, you should use a *context manager* as follows:
```
with open(path) as fh:
    for line in fh:
        process_line(line)
```
* To read the entire file into a string, use the read method:
```
with open(path) as fh:
    s = fh.read()
```
However, you should be careful when reading an entire file into memory that the file isn't too big! *You should avoid this whenever possible!*

**Question 5 (Reading Files):**

Create a function `last_chars` that takes a file object and returns a string consisting of the last character of the line.

*Remark:* A newline is the "delimiter" of the lines of a file, and doesn't count as part of the line (as the tests imply). Every other character is part of the line. For more info on this, see [the interpretation](https://en.wikipedia.org/wiki/Newline#Interpretation) of files as a 'newline delimited variables' file.

In [195]:
def last_chars(fh):
    output = ''
    with open(fh.name) as fh:
        for line in fh:
            output += line[-2]
    return output

In [196]:
fp = os.path.join('data', 'chars.txt')

In [205]:
f = open(fp)
output = ''
for line in f:
    output += line[-2]
    
output

'hrg'

---

## `numpy` exercises

For an introduction to arrays and `numpy` recall the relevant section of [DSC 10](https://www.inferentialthinking.com/chapters/05/1/Arrays.html).

**Question 6 (Basic Arrays):**

Create the following functions using `numpy` methods satisfying the requirements given in each part. Your solutions should **not** contain any loops or list comprehensions.

* A function `arr_1` that takes in a `numpy` array and adds to each element the square-root of the index of each element.

* A function `arr_2` that takes in a `numpy` array of integers and returns a boolean array (i.e. an array of booleans) whose `ith` element is `True` if and only if the `ith` element of the input array is divisble by 16.

* A function `arr_3` that takes in a `numpy` array of [stock prices](https://en.wikipedia.org/wiki/Stock) per share on successive days in USD and returns an array of growth rates. That is, the `ith` number of the output array should contain the rate of growth in stock price between the $i^{th}$ day to the $(i+1)^{th}$ day. The growth rate should be a proportion, rounded to the nearest hundredth.

* Suppose:
    - `A` is a `numpy` array of [stock prices](https://en.wikipedia.org/wiki/Stock) per share for a company on successive days in USD 
    - you start with \\$20, and put aside \\$20 at the end of each day to buy as much stock as possible the following day. 
    - Any money left-over after a given day is saved for possibly buying stock on a future day. 
    - Create a function `arr_4` that takes in `A` and returns the day on which you can buy at least one share from 'left-over' money. If this never happens, return `-1`. The first stock purchase occurs on day 0. *Note: you cannot buy fractions of a share of stock*.
    
*Example:* If the stock price is \\$3 every day, then the answer is 'day 1':
* day 0: buy 6 shares; \\$2 left-over; \\$22 at end of day.
* day 1: buy 7 shares; \\$1 left-over; \\$21 at end of day.
This is more than the 6 shares that \\$20 can buy.

In [422]:
def arr_4(A):
    copy = np.copy(A)
    leftovers = 20 % A 
    total_leftovers = np.cumsum(leftovers) #total leftovers after each day
    enough_left = total_leftovers >= A #boolean array to determine whether we have enough to buy another stock for the day
    
    if True in enough_left:
        day = list(enough_left).index(True) #gets first index where we can buy
        return day
    else:
        return -1

In [425]:
import numbers
stocks = np.array([3, 4, 3])
out = arr_4(stocks)
out

2

In [418]:
A = np.array([3, 3, 3, 3])
copy = np.copy(A)

leftovers = 20 % A
total_leftovers = np.cumsum(leftovers)
total_leftovers


enough_left = total_leftovers >= A
list(enough_left).index(True)

1

---
## Getting Started with Pandas

The following questions will help you get comfortable with Pandas. These questions are similar to questions on tables in DSC 10; review the [textbook](https://www.inferentialthinking.com) as necessary. As always for Pandas questions:
1. Avoid writing loops through the rows of the dataset to do the problem, and
2. Test the output/correctness of your code with the help of the dataset given, but be sure your code will also run on data "like" the dataset given (sampling rows using the `.sample` method is useful for this!).

**Question 7 (Pandas basics):**

Read in the file `movies_by_year.csv` in the `data` directory and understand the dataset by answering the following questions. To do this, create a function `movie_stats` that takes in a dataframe like `movies` and returns a series containing the following statistics:
* The number of years covered by the dataset (`num_years`).
* The total number of movies made over all years in the dataset (`tot_movies`).
* The year with the fewest number of movies made; a tie should return the earliest year (`yr_fewest_movies`).
* The average amount of money grossed over all the years in the dataset (`avg_gross`).
* The year with the highest gross *per movie* (`highest_per_movie`).
* The name of the top movie during the second-lowest (total) grossing year (`second_lowest`).
* The average number of movies made the year *after* a Harry Potter movie was the #1 movie (`avg_after_harry`).

The index of the output series are given in parenthesis above.

*Note*: Your function should work on a dataset of the same format that contains information from other years. You may assume that none of the answers involving ranking returns a tie.

*Note*: To make sure your function still runs, in the event that one of the 7 parts throws an exception (e.g. due to a very incorrect answer), use `Try... Except...` structures.

In [665]:
movie_fp = os.path.join('data', 'movies_by_year.csv')
movies = pd.read_csv(movie_fp)

In [672]:
def movie_stats(movies):
             
    def num_years():
        """number of years covered in the dataset"""
        years = movies['Year']
        return ('num_years', years.nunique())

    def tot_movies():
        """total number of movies over all years"""
        total = movies['Number of Movies'].sum()
        return ('tot_movies', total)

    def yr_fewest_movies():
        """year with fewest movies made (earliest)"""
        copy = movies.copy()
        year = copy.sort_values(['Number of Movies', 'Year']).reset_index(drop = True).Year.loc[0]
        return ('yr_fewest_movies', year)

    def avg_gross():
        """average amount of money grossed over all years"""
        avg = movies['Total Gross'].mean()
        if avg is np.nan:
            raise
        return ('avg_gross', avg)

    def highest_per_movie():
        """The year with the highest gross per movie"""
        copy = movies.copy()
        copy['Gross Per Movie'] = copy['Total Gross'] / copy['Number of Movies'] #calculate gross per movie
        year = copy.sort_values(['Gross Per Movie'], ascending = False).reset_index(drop = True).Year.loc[0]
        return ('highest_per_movie', year)

    def second_lowest():
        """name of the top movie during the second lowest (total) grossing year"""
        copy = movies.copy()
        name = copy.sort_values(['Total Gross']).reset_index(drop = True)['#1 Movie'].loc[1]
        return ('second_lowest', name)

    def avg_after_harry():
        """avg number of movies made the year after an HP movie was #1 movie"""
        copy = movies.copy()
        copy = copy.sort_values(['Year']).reset_index(drop = True) #years early to present
        harry_years = copy[copy['#1 Movie'].str.contains('Harry')].Year #years where harry potter was #1
        next_years = harry_years + 1 
        check = list(next_years.values)
        next_years_df = copy[copy['Year'].isin(check)]
        avg = next_years_df['Number of Movies'].mean()
        if avg is np.nan:
            raise
        return ('avg_after_harry', avg)
    
    functions = [num_years(), tot_movies(), yr_fewest_movies(), avg_gross(), highest_per_movie(), second_lowest(), avg_after_harry()]
    stats = {}
    for fxn in functions:
        try:
            info = fxn
            stats[info[0]] = info[1]
        except:
            continue
    series = pd.Series(stats)
            
    return series

In [673]:
out = movie_stats(movies)
out

num_years                            34
tot_movies                        17834
yr_fewest_movies                   1990
avg_gross                       7226.91
highest_per_movie                  2009
second_lowest        Back to the Future
avg_after_harry                     573
dtype: object

In [662]:
    >>> movie_fp = os.path.join('data', 'movies_by_year.csv')
    >>> movies = pd.read_csv(movie_fp)
    >>> out = movie_stats(movies)
    >>> isinstance(out, pd.Series)
    True
    >>> 'num_years' in out.index
    True
    >>> isinstance(out.loc['second_lowest'], str)

In [387]:
column_dict = {'Year': [2010, 2011, 2012, 2010],
                'Total Gross': [10, 20, 30, 40]
              }
test = pd.DataFrame(column_dict)
test.groupby('Year', as_index = False).sum()

   Year  Total Gross
0  2010           50
1  2011           20
2  2012           30

---

## CSV Files

**Question 8 (Reading malformed csv files):**

`malformed.csv` contains a file of comma-separated values, containing the following fields:


|column name|description|type|
|---|---|---|
|first|first name of person|str|
|last|last name of person|str|
|weight|weight of person (lbs)|float|
|height|height of person (in)|float|
|geo|location of person; comma-separated latitude/longitude|str|

Unfortunately, the entries contains errors that cause the Pandas `read_csv` function to fail parsing the file with the default settings. Instead, you must read in the file manually using Python's built-in `open` function.

Clean the csv file into a Pandas DataFrame with columns as described in the table above, by creating a function called `parse_malformed` that takes in a file path and returns a parsed, properly-typed dataframe. The dataframe should contain columns as described in the table above (with the specified types); it should agree with `pd.read_csv` when the lines are not malformed.


*Note:* Assume that the given csv file is a sample of a larger file; you will be graded against a **different** sample of the larger file that has the same type of parsing errors. That is, you should **not** hard-code your cleaning of the data to specific errors on specific lines in the data.

In [530]:
fp = os.path.join('data', 'malformed.csv')
df = parse_malformed(fp)
dg = pd.read_csv(fp, nrows=4, skiprows=10, names=cols)
dg.index = range(9, 13)
(dg == df.iloc[9:13]).all().all()

True

In [535]:
def parse_malformed(fp):
    row_data=[]
    cols = ['first', 'last', 'weight', 'height', 'geo']

    with open(fp) as fh:

        fh.readline() #skip first line (column names)

        for line in fh:
            #remove newline character
            line = line.strip('\n')
            elems = line.split(",") #all entries converted to string - last col value not split
            elems = list(filter(None, elems)) #remove empty entries

            #there should be 6 entries in the list now
            for i in range(6): 
                elems[i] = elems[i].replace('"', '') #drop quotations in all values
                if i == 2 or i == 3: #float columns
                    elems[i] = float(elems[i])

            #combine index 4 and 5 to make geo column
            elems[4] = elems[4] + ',' + elems[5]
            del elems[-1]  
            #add to row data
            row_data.append(elems)

    #make new dataframe
    output = pd.DataFrame(row_data, columns = cols)
    return output

In [565]:
fp = os.path.join('data', 'malformed.csv')
df = parse_malformed(fp)
df.loc[51:]

         first        last  weight  height          geo
51        Tori      Adithi   187.0    68.0   35.5,-12.4
52    Carolina     Cecille   154.0    71.0    38.6,12.4
53    Emmanuel       Leidi   112.0    61.0    37.6,64.6
54      Andrew     Vikrant    90.0    61.0    36.6,36.9
55     Donovan       Randa   120.0    73.0    36.5,28.2
56      Rachel      Alexiz   145.0    67.0    38.0,36.4
57       Dylan       Aryon   104.0    65.0    35.0,18.0
58      Jeevan       Ardit   148.0    71.0   36.9,-58.9
59     Kaitlin     Isrrael   108.0    78.0    36.2,16.0
60     Vanessa    Guiselle    96.0    77.0    38.0,86.0
61      Alyssa     Gillian    88.0    69.0   38.2,252.0
62   Christina      Jerard   178.0    77.0   38.2,-57.5
63       Hayli      Marton   125.0    73.0   37.7,-93.7
64    Isabella     Laverne   117.0    76.0    36.4,88.1
65      Parker       Kerly   160.0    59.0   36.7,139.3
66   Madeleine    Amritpal   166.0    58.0    36.2,51.4
67      Keaton       Kinzy   119.0    64.0    36.4,20.5
68    Mercedes      Tarika   129.0    70.0   37.0,-56.8
69      Dallen      Keshae   127.0    75.0  37.1,-113.1
70        Shay      Marcea   103.0    65.0   36.0,-33.1
71    Adrianna     Karsten   157.0    81.0    34.8,36.1
72         Max       Nairi   113.0    67.0    36.9,12.2
73     Suzanne     Dearion   129.0    70.0   36.9,-70.4
74      Camryn      Tasnim   126.0    63.0    36.5,19.8
75       Cielo      Saylah   103.0    65.0    36.1,83.1
76  Annastasia       Averi    91.0    67.0   37.1,-43.7
77      Hannah       Jerit   142.0    53.0    36.6,10.3
78      Jovita  Marquaveon   150.0    70.0   38.2,-32.6
79     Jasmine      Jahmal   107.0    72.0     38.5,9.1
80    Cheyenne      Gerrid    55.0    71.0    36.6,68.2
81       Karma      Nameer   131.0    65.0    37.5,69.8
82    Madeline        Cira   128.0    65.0   37.4,149.6
83      Connor    Sheridyn   141.0    73.0   36.8,-80.7
84       Sarah      Sunday   180.0    54.0    36.7,-5.6
85    Victoria      Maliik   164.0    60.0   36.3,151.2
86      George    Tyshonna   105.0    74.0   37.5,-91.5
87     Marquis       Kylar   137.0    51.0   38.2,228.4
88     Marlene      Fatuma   117.0    64.0    36.4,-9.5
89     Kathryn     Diondra   149.0    65.0    38.3,68.0
90    Jonathan      Jersey   107.0    77.0    36.0,11.8
91      Joshua     Caileen   181.0    67.0    37.3,79.0
92       Emily      Leonid   146.0    57.0   37.8,-68.7
93   Jacqualyn     Angelea   116.0    63.0   36.4,-31.5
94      Gionna      Pamala   180.0    79.0   38.6,-28.6
95     Yasmeen      Jahron   135.0    84.0  38.3,-127.3
96      Meghan    Carlyann   101.0    66.0    36.6,80.5
97        Tess       Shree   146.0    68.0    38.8,64.9
98       Maria      Kalvyn   115.0    51.0   37.1,-90.4
99       Lexie    Cheyenna   151.0    71.0    35.9,86.1

## Congratulations! You're done!

* Submit the lab on Gradescope

In [453]:
dictionary = {'e': [], '2': [], '3': []}
n = pd.DataFrame(dictionary)
n

Empty DataFrame
Columns: [e, 2, 3]
Index: []